#page-header {
	display: inline-block;
	border-bottom: 1px solid #333;
	width: 100%;
	padding: 16px 4px;
	
}

.nav {	
	float: left;	
}

.text-logo {	
	padding-right: 4px;
	margin-right: 4px;
	float: right;
	font-size: 16pt;	
}

.text-logo a {
	color: #607d8b;
	text-decoration: none;
}
.text-logo a:hover {
	text-decoration: underline;
}

.search {
	text-align: center;
	padding: 24px;
}

.search :nth-child(1) {
	/*width: 20em;
	font-size: 12pt;*/
}

.search :nth-child(2) {
	padding: 4px;
}

.search-result {
	background-color: #ffd600;	
}

#title {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	padding: 8px;
	margin: 8px;
}
